/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
	font-family: 'Montserrat', sans-serif;
}
body {
	font-family: 'Montserrat', sans-serif;
}
a:hover { text-decoration: none }

.service-box-bg{background-image: url(../img/service-1.jpg)}
.service-box-bg-2{background-image: url(../img/service-2.jpg)}
.service-box-bg-3{background-image: url(../img/service-3.jpg)}


.section-title {
  color: #848EB4;
  font-size: 20px;
  margin-bottom: 50px;
}
.section-title h2 {
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 34px;
}
.section-title h2 span {
  color: #00C8CE;
}
.section-padding {
  padding: 80px 0;
}
.service-box-bg {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  height: 250px;
  position: relative;
  z-index: 1;
  border-radius: 4px 4px 0 0;
}
.service-box-bg i {
  height: 70px;
  width: 70px;
  background: #26395a;
  display: block;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
  transition: .3s;
}
.service-box-bg i:before {
  margin: 0;
  font-size: 25px;
  line-height: 63px;
}
.single-service-box {
  border: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  display: block;
  color: #333;
}
.single-service-box h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 27px;
}
.single-service-box:hover .service-box-bg i {
  background-color: #1cc9cc;
  border-color: #26395a;
}
.single-service-box:hover h2 {
  background-color: #26395a;
  color: #fff;
}

.mainmenu-area ul {
  background: #26395a;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu-area li {
  display: inline-block;
}
.mainmenu-area li a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  margin: 0;
}
.mainmenu-area li a:hover{
	background: #00C8CE;
}



.mainmenu-area li {
  position: relative;
}
.mainmenu-area li ul {
  position: absolute;
  top: 32px;
  width: 120px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.mainmenu-area li ul a {
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainmenu-area li ul li {
  display: block;
}
.mainmenu-area li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 62px;
}

.mainmenu-area li:hover > a {
  background: #00C8CE;
  color: #333;
}
.mainmenu-area ul li > a {
  transition: .3s;
}

.mainmenu-area li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}

.mainmenu-area ul ul li ul{
	left: 120px;
}
.mainmenu-area ul ul li:hover > ul {
  top: 0;
  opacity: 1;
  visibility: visible;
}